@import url(https://raw.githack.com/RestrictedWord/kirka/main/css/custom/coolcss-index.css);
body{
  background: black !important;
}
 .interface, #ucss-code-wrapper{
     display: none !important;
}
#app:before{
     content: var(--text);
     position: absolute;
     font-size: 140px;
     color: white;
     white-space: pre;
     text-overflow: ellipsis;
     font-family: exo\ 2;
     width: auto;
     height: 100px;
     top: 30rem;
     bottom: 0;
     left: 0;
     right: 0;
}
#app:after{
    content: var(--img);
     position: absolute;
     font-size: 140px;
     color: white;
     font-family: exo\ 2;
     width: auto;
     height: 100px;
     top: 10rem;
     bottom: 0;
     left: 0;
     right: 0;
}
#app:before, #app:after{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
