/* Paste Src Url Below */
@font-face {
    font-family: gamefont;
    src: url(https://github.com/RestrictedWord/kirka/raw/main/css/lore/client/fonts/BF_Modernista-Regular.ttf)
}
/* Size Fixing */
span.level-text{
    font-size: 20px !important;
}