/* Paste Src Url Below */
@font-face {
    font-family: gamefont;
    src: url(./BF_Modernista-Regular.ttf)
}

@font-face {
    font-family: headerfont;
    src: url(./Altform-Bold.ttf)
}
/* Size Fixing */
#auth-user > div > div.card-cont.user-info > div.progress-lvl > div.progress-top > div.level > span{
    font-size: 20px !important;
}