@import url(https://raw.githack.com/RestrictedWord/kirka/main/css/kessa/kessa-index.css);
#app:before{
     content: var(--text);
     position: absolute;
     font-size: 140px;
     color: white;
     white-space: pre;
     text-overflow: ellipsis;
     font-family: exo\ 2;
     width: auto;
     height: 100px;
     top: 15rem;
     bottom: 0;
     left: 0;
     right: 0;
}
#app:after{
    content: var(--img);
     position: absolute;
     font-size: 140px;
     color: white;
     font-family: exo\ 2;
     width: auto;
     height: 100px;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
}
body{
  background: #010F29 !important
}
 .interface{
     display: none !important;
}
