body{
    /* Content */
    --change-log: var(--header) var(--space) var(--1) var(--2) var(--3) var(--4) var(--5) var(--6) var(--7) var(--8) var(--9) var(--10) var(--11) var(--12) var(--13) var(--14) var(--15) var(--16) var(--17) var(--18) var(--19) var(--20);

    /* Change-Log Lines */
    --header: "Change Log - Updated: 2/19/22 - Verison: 0.0.1";
    --space: "\A";
    --1: "\A - Test Test Test Test ";
    --2: "\A - Test Test Test Test ";
    --3: "\A - Test Test Test Test ";
    --4: "\A - Test Test Test Test ";
    --5: "\A - Test Test Test Test ";
    --6: "\A - Test Test Test Test ";
    --7: "\A - Test Test Test Test ";
    --8: "\A - Test Test Test Test ";
    --9: "\A - Test Test Test Test ";
    --10: "\A - Test Test Test Test ";
    --11: "\A - Test Test Test Test ";
    --12: "\A - Test Test Test Test ";
    --13: "\A - Test Test Test Test ";
    --14: "\A - Test Test Test Test ";
    --15: "\A - Test Test Test Test ";
    --16: "\A - Test Test Test Test ";
    --17: "\A - Test Test Test Test ";
    --18: "\A - Test Test Test Test ";
    --19: "\A - Test Test Test Test ";
    --20: "\A - Test Test Test Test ";
}
/* Button */
.pattern-bg {
    background: transparent !important;
    position: absolute !important;
    height: 45px !important;
    width: 105px !important;
    top: 64rem !important;
    left: 0rem !important;
}
.pattern-bg::after {
    font-size: 1rem;
    content: "Change Log";
    text-decoration: underline;
    padding: 0.6rem !important;
    color: #ffffff;
    position: fixed;
    top: 95%;
    left: 10rem;
    z-index: 10;
    pointer-events: auto;
}
.pattern-bg:hover::after {
    content: var(--change-log);
    text-decoration: none;
    text-align: left;
    white-space: pre;
    overflow-y: scroll;
    text-overflow: ellipsis;
    background: var(--background) !important;
    border: 2px solid #d4d4d42b;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    top: 57%;
}